.header__lang-link {
    color: #ffffff;
    text-decoration: none;
    margin: 0 0 0 18px;
    transition: opacity .5s ease-out;
    opacity: 1;
  }

  .header__lang-link:hover {
    opacity: 0.7;
  }
  