.page {
   display: flex;
   flex-direction: column;
   background-color: #2a2c2f;
   align-items: center;
   min-width: 320px;
   color: #ffffff;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
}