.lead__photo {
    width: calc(100vw - (100vw - 100%));
    margin-top: 40px;
    max-width: 984px;
}

@media screen and (min-width: 1024px){
    .lead__photo {
        width: 90.625vw;
        margin-top: 56px;
    }
}

@media screen and (min-width: 1280px){
    .lead__photo {
        width: 76.875vw;
        margin-top: 64px;
    }
}
